.background {
  position: absolute;
  pointer-events: none;
  top: 0; left: 0;
  width: 100%;
  height: 1200px;
  z-index: -1000;
  overflow: hidden;
  .backgroundLayer {
    position: absolute;
    width: 100vw;
    height: 1200px;
  }
  .backgroundImage {
    right: -20px;
    opacity: calc(1 * var(--background-height-coefficient));
    width: 1500px;
  }
  .backgroundColorGradient {
    background: linear-gradient(to top, rgba(255, 254, 254, 0.39) calc(60%* (1 - var(--background-height-coefficient))), var(--color-main-background-gradient));
  }
  .backgroundBlur {
    transform: translateY(50px);
  }
}

.headerPositionFix {
  position: absolute;
  top: 0;
}