body {
  width: 100vw;
  background-color: white;

}

* {
  box-sizing: border-box;
}

:root {
  --background-height-coefficient: 1;
  --color-main: #0340DF;
  --color-main-light: #336CFF;
  --color-main-dark: #031F6B;
}

@font-face {
  font-family: "main";
  src: url("../public/fonts/gothampro_black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "main";
  src: url("../public/fonts/gothampro_light.ttf");
  font-weight: normal;
}

::-webkit-scrollbar {
  display: none;
}

