body {
  width: 100vw;
  background-color: rgb(200, 222, 255);

}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

:root {
  --background-height-coefficient: 1;
  --color-main: #0340DF;
  --color-main-light: #336CFF;
  --color-main-overlight: #e8efff;
  --color-main-background-gradient: #1d52ffb6;
  --color-main-dark: #00103a;
  --color-main-light-opacity: #5e8cff27;
  --color-main-overdark: #060607;
}

@font-face {
  font-family: "main";
  src: url("../public/fonts/gothampro_black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "main";
  src: url("../public/fonts/gothampro_light.ttf");
  font-weight: normal;
}

::-webkit-scrollbar {
  display: none;
}

